.grid-container{
    display: grid;
    background-color: cornsilk;
    grid-template-areas: "header header header"
    "menu main asid"
    "footer footer footer";
    

}

.grid-container div{
    background-color: crimson;
    text-align: center;
    color: white;
    border: 1px solid black;

}

.item1{
    grid-area: header;
}

.item2{
    grid-area: menu;

}

.item4{
    grid-area: aside;
}

item4{
    grid-area: footer;
}